# Docker Compose file for testing on multiple Go versions.
# Run the below from the root of the repo:
#   docker-compose --file ./.github/docker-compose.yml up
version: "3.9"
services:
  v1_14:
    build:
      context: ..
      dockerfile: ./.github/Dockerfile
      args:
        VARIANT: 1.14-alpine
    volumes:
      - ..:/workspaces
  v1_15:
    build:
      context: ..
      dockerfile: ./.github/Dockerfile
      args:
        VARIANT: 1.15-alpine
    volumes:
      - ..:/workspaces
  v1_16:
    build:
      context: ..
      dockerfile: ./.github/Dockerfile
      args:
        VARIANT: 1.16-alpine
    volumes:
      - ..:/workspaces
  v1_17:
    build:
      context: ..
      dockerfile: ./.github/Dockerfile
      args:
        VARIANT: 1.17-alpine
    volumes:
      - ..:/workspaces
  latest:
    build:
      context: ..
      dockerfile: ./.github/Dockerfile
      args:
        VARIANT: alpine
    volumes:
      - ..:/workspaces
